.ct-header {
    position: absolute !important;
}
.ct-site {
    min-height: 100vh !important;
}

.ct-header::after {
    border-top: none !important;
}

.vc_artist_details {
    margin: 0 15px;
}

.gallery-image-item {
    padding: 05px;
}

.gallery-container {
    margin: 100px 0;
}